.mode__selector {
  width: 100%;
}

.mode__selector h2 {
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  margin-block: var(--space-md);
}

.mode__selector .menu__buttons {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: 100%;
}

.mode__selector button {
  padding: var(--space-md);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.3);
}
