.stat__content {
  border-radius: var(--radius-lg);
  flex: 1;
  background-color: var(--color-grey);
  color: #000;
  padding-block: var(--space-sm);
  letter-spacing: 0.2ch;
}

.stat__title {
  font-size: var(--fs-xs);
  font-weight: 500;
}

.stat__score {
  font-weight: var(--fw-bold);
}

.stat__content.X {
  background-color: var(--color-green);
}

.stat__content.O {
  background-color: var(--color-orange);
}
